*  {
    margin:0;
    padding:0;
}
html,body{


}

.contentDropLogin{
    top:64px !important;
    }
.small-fiel-input{
    width:230px;
}
body , html{
    height:100%;}
.header-welcome{
    background-image: url('../imagens/py.jpg') ;
    height:100%;

    background-size: cover;
    background-repeat: no-repeat;

}
.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-title{
	font-family: 'Pacifico', cursive;
    }
.welcome-description{
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}
.imgProduct{
    height:200px;
    width:200px;
}
.notProduts {
    padding: 20px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.4);
}
.box{
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Footer sem colado*/
.footer{
width: 101%;
margin: -0% -1%;
margin-bottom: -1%;
}
