*  {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html,body{


}

.contentDropLogin{
    top:64px !important;
    }
.small-fiel-input{
    width:230px;
}
body , html{
    height:100%;}
.header-welcome{
    background-image: url('../imagens/py.jpg') ;
    height:100%;

    background-size: cover;
    background-repeat: no-repeat;

}
.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-title{
	font-family: 'Pacifico', cursive;
    }
.welcome-description{
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}
.imgProduct{
    height:200px;
    width:200px;
}
.box{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.notProduts {
    padding: 20px;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.showProdutos{
    display: flex;
    

}
.flex-item{

    padding: 10px;
    max-width:323px; !important
}
.content-pag{
    margin-top:15px;
    }
.loginForm{
    color:red;
    border:1px solid red;
}
.erros-list{
    margin-top: 2px;
}
.erros-list p{
    color:red;
    font-size: 12px;
}
.title-cadastro h2{
    color:blue;
}
/* Footer sem colado*/
.footer{
width: 101%;

margin: -0% -1%;
margin-bottom: -1%;
}
