
body, html{
	overflow-x: hidden;
  	
}
*{
	box-sizing: border-box;

}

.wraper{

	margin: 0px;


}
.trasparent, .trasparent:hover{
	color: transparent;
}

.header1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding: 10px 10px -0px 0px;
	margin: 0px;
	background-color: rgba(0, 0, 0, .1)
	}

.midias-sociais{
	display: flex;
	list-style-type: none;

}
.midias-sociais li{

	margin: 2px;
}
.header1 .contact{
	text-decoration: none;
	color:  blue;
}


.facebook-svg{
	display: block;
  	width: 25px;
  	height: 25px;
  	background-size: 100%;
	background-image: url('../svg/facebook-circular-logo.svg') ;	

}
.facebook-svg hover{
	fill: yellow !important;
	stroke: red !important;
	cursor: pointer;
}

.instagram-svg{
	display: block;
  	width: 25px;
  	height: 25px;
  	background-size: 100%;
	background-image: url('../svg/instagram-logo.svg') ;	

}
.instagram-svg hover{
	fill: yellow !important;
	stroke: red !important;
	cursor: pointer;
}

.git-svg{
	display: block;
  	width: 25px;
  	height: 25px;
  	background-size: 100%;
	background-image: url('../svg/github-logo.svg') ;	

}
.git-svg hover{
	fill: yellow !important;
	stroke: red !important;
	cursor: pointer;
}

.header1 p{
	font-family: 'Amatic SC', cursive;
}
.nav-menu{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	position: static;
	width: 100%;
}
.nav-menu h3.brand{
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
	color: blue;
	text-decoration: none; 
	font-weight: 800;
}
.nav-menu h3.brand a:hover{
	text-decoration: none;
	color: red;
	transition: .2s
}
.menu-itens{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family:'Amatic SC', cursive;
	font-size: 20px;
	font-weight: 800;
	font-variant: small-caps;
}
.menu-itens a,.menu-itens a:hover {
	text-decoration: none;
}
.menu-itens li{
	padding: 0px 30px;
}
.menu-itens li:hover{
	border-bottom: 1.2px solid black;
	transition-delay: .1s;
	transition: .2s;
	cursor: pointer;
  	position: relative;
	
}
.menu-items li>a:hover{
	cursor: pointer;
}
.menu-options{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.menu-options li{
	margin: 0px 15px;
}

.menu-options .bag{
	display: block;
  	width: 25px;
  	height: 25px;
	background: url('../svg/shopping-bag.svg');
	background-size: 100%;
}
.accounts{
	display: block;
  	width: 25px;
  	height: 25px;
	background: url('../svg/round-account-button-with-user-inside.svg');
	background-size: 100%;
	border: none;
}

.menu-options .divider{
	border: 1px solid black;
	display: block;
	background-color: black;
	width: 2px;
	height: 25px;
}
.username{
	font-size: 14px;
}

.menu-itens > li:hover > .sub_menu {
  visibility: visible;
  opacity: 1;
}

.sub_menu {
  list-style-type: none;
  position: absolute;
  z-index: 1100;
  top:0;
  left:100%;
  width: 200px;
  background-color: #222222;
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.menu-itens > li > .sub_menu {
  top:100%;
  left: 0;
  position: absolute;
}

.sub_menu li:hover > .sub_menu {
  visibility: visible;
  opacity: 1;
} 

.sub_menu li { 
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.sub_menu li, .sub_menu a {
  padding: 10px;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: white;
}

.sub_menu > li:hover > a {
  color: #e65540;
  text-decoration: none;
}
.footer-contet{
	background-color: #ecf0f1;
	padding: 10px;
	padding-top: 60px;
	color:#57606f;
}

.footer-contet h5{
	text-transform: uppercase;
	color :black;
	font-family: 'Lobster', cursive;
}
.footer-contet ul{
	list-style-type: none;
}
.footer-contet .list-details{

	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;

}
.footer-contet .list-details li{
	margin:5px;
}
.footer-contet p{
	font-size: 14px;
	
}
.content-information{
	font-family:  'Shadows Into Light', cursive;
	font-size: 18px;
}
#entre-em-contato p{
	font-family: 'Shadows Into Light', cursive;
	font-size:18px;
	margin-top: 5px;
	color:black !important;

}
.home-item-carrousel{ 
	height: 500px !important;
}

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
border: 1px solid red;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container-login{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);margin-bottom: 40px;}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

.vendas-produtos{
	font-size: 12px;
	color: gray;
}
.detalhes-produto .preco{
	display: flex;
}
.detalhes-produto .preco p{
	font-size: 13px;
	color: rgba(0, 0, 0, .7);
}
.detalhes-produto .preco h4{
	font-weight: 600;
}
.accounts-menu a{
	margin: 5px;	

}
.detalhes-produto .name h2{
	font-weight: 600;
}
.detalhes-produto .vendedor p{
	font-weight: 600;
	font-size: 13px;
}