*  {
    margin:0;
    padding:0;
}

.contentDropLogin{
    top:64px !important;
    }
.small-fiel-input{
    width:230px;
}
body , html{
    height:100%;}
.header-welcome{
    background-image: url('../imagens/py.jpg') ;
    height:100%;

    background-size: cover;
    background-repeat: no-repeat;

}
.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-title{
	font-family: 'Pacifico', cursive;
    }
.welcome-description{
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}
.imgProduct{
    height:200px;
    width:200px;

}
/* Footer sempre colado ao fim da página */
.footer{
width: 101%;
margin: -0% -1%;
margin-bottom: -1%;
}