


</!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <!--fontes-->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Lobster|Montserrat|Shadows+Into+Light" rel="stylesheet">
</head>
<body>
	<div class="wraper" >
		<div class="header1">
			<div class="header1-item">
				<ul class="midias-sociais">
					<li class="facebook-svg "><a class="trasparent" href="#face" >facebook</a></li>
					<li class="instagram-svg "><a  class="trasparent" href="#insta">instagram</a></li>
					<li class="git-svg "><a class="trasparent" href="#git"></a></li>
				</ul>
			</div>
			<div>
				<p>
					Compre conosco, que cuidaremos de tudo!
				</p>
			</div>
			<div>
				<p>
					<a class="contact" href="mailto:webmaster@example.com">supportsuacompra@gmail.com</a>
				</p>
			</div>
		</div>


		<nav class="nav-menu" id="nav_bar">
			<div><h3 class="brand"> <a href="{%url 'product:index'%}">SuaCompra.</a></h3></div>
			<div>
				<ul class="menu-itens">
					<li class="drop-menu"><a>Home</a></li>
					<li>
						<a href="drop-menu">Departamentos</a>
						<ul class="sub_menu">
							<li><a href="index.html">Computadores</a></li>
							<li><a href="home-02.html">informatica</a></li>
							<li><a href="home-03.html">microprocesador</a></li>
						</ul>
					</li>
					<li><a>Ofertas</a></li>
					<li><a>Contato</a></li>
				</ul>
			</div>
			<div>
				<div>
					<ul class="menu-options">
						{% if user.is_authenticated %}
							<li>
								<div class="btn-group">
									  <button type="button" class="dropdown-toggle accounts trasparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  </button>
									  <div class="dropdown-menu">
									    <a class="dropdown-item" href="#">Perfil</a>
									    <a class="dropdown-item" href="#">Ver meus produtos</a>
									    <a class="dropdown-item" href="#">Registrar-se</a>
									    <div class="dropdown-divider"></div>
									    
									  </div>
								</div>
							</li>
						{%else%}
							<li>
								<div class="btn-group">
									  <button type="button" class="dropdown-toggle accounts trasparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  </button>
									  <div class="dropdown-menu">
									    <a class="dropdown-item" href="{% url 'user:login'%}">Entrar</a>
									    <a class="dropdown-item" href="{% url 'user:register' %}">Registrar-se</a>  
									  </div>
								</div>
							</li>
						{%endif%}
						<li class="divider trasparent"></li>
						<li class="bag trasparent"><a>Carrinho</a></li>
					</ul>
				</div>
		</div>
		</div>
	</nav>	


{%block contentPage%}


{%endblock%}
<footer class="footer-contet">

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="content-information" id="entre-em-contato">
					<h5>Entre em contato</h5>
					<div class="">
						<p>
						  Alguma pergunta? Deixe-nos saber na loja no 8º andar, 379 Hudson St, Nova York, NY 10018 ou ligue para (+1) 96 716 6879
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
        <div>
          <h5>Categorias</h5>  
            <ul class="list-details">
              <li><a>Para homens</a></li>
              <li><a>Para mulheres</a></li>
              <li><a>Para crianças</a></li>
              <li><a>Todos</a></li>
            </ul>
        </div>
				
			</div>
			<div class="col-md-2">
        <div>
  				<h5>Links úteis</h5>
          <ul class="list-details">
              <li><a>Pesquise</a></li>
              <li><a>contate-nos</a></li>
              <li><a>Sobre nós</a></li>
              <li><a>Feedback</a></li>
          </ul>
        </div>
			</div>
			<div class="col-md-2">
        <div>
				  <h5>Ajuda</h5>
          <ul class="list-details">
            <li><a>Segurança</a></li>
            <li><a>Sobre nós</a></li>
            <li><a>Nossas avaliações</a></li>
            <li><a>FAQs</a></li>
          </ul>
			  </div>
      </div>
			<div class="col-md-3">
        <div class="content-information">
  				<h5>Notificações de promoções</h5>
  				<div>
            <label for="inscricao">se inscreva </label>
              <input type="email" name="inscricao" placeholder="seuemail@dominio.com" id="inscricao" class="form-control">
              <p>Nós enviaremos apenas promoções para você</p>
          </div>
  			</div>
      </div>

		</div>
	</div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{% static 'js/scripts.js' %}"></script>


</body>
</html>
