<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {%block definitionsMeta%}

    {% endblock%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/cascade.css' %}">

</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper grey darken-3 ">
            <div class="container">
                <a href="{% url 'product:index' %}" class="brand-logo">SuaVenda.com</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <form>
                            <div id="divBusca">
                                <input type="text" id="txtBusca" placeholder="Buscar..."/>
                            </div>
                        </form>

                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropDownDepartamentos"> Departamentos<i
                            class="right material-icons">view_headline</i></a>
                        <ul id="dropDownDepartamentos" class="dropdown-content contentDropLogin">
                            <li><a href="#!">Informatica</a></li>
                            <li><a href="#!">Casa e banho</a></li>
                            <li><a href="#!">Comida</a></li>
                            <li><a href="#!">Automotivo</a></li>
                            <li class="divider"></li>
                            <li><a href=" {% url 'product:allProducts' %}">Outros</a></li>
                        </ul>
                    </li>
                    <li><a href=" ">promoções</a></li>


                    <li><a class="dropdown-trigger" href="#!" data-target="dropdownUser">Entre aqui<i
                            class="right material-icons">perm_identity</i></a>
                        <ul id="dropdownUser" class="dropdown-content contentDropLogin">
                            <li><a href="{% url 'user:login' %}">Fazer Login</a></li>
                            <li><a href="#!">Recuperar senha</a></li>
                            <li><a href="#!">Recuperar Email</a></li>

                            <li class="divider"></li>
                            <li><a href="#!">Configurações</a></li>
                        </ul>
                    </li>
                    <li><a class=""> <i class="right material-icons ">shopping_cart</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>


{%block contentPage%}{%endblock%}


<footer class="page-footer blue lighten-2 bottom">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SuaVenda.com</h5>
                <div class="row">
                    <div class="col s4">Facebook SVG</div>
                    <div class="col s4">Instagram SVG</div>
                    <div class="col s4">Gmail SVG</div>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Sobre nós</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Quem somos?</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Políticas</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Desenvolvedores</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Como anunciar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018
            <a class="grey-text text-lighten-4 right" href="#!">Fale conosco.</a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>