{% extends 'base.html' %}
{% load static %}
{%block definitionsMeta%}
  <title>Detalhes do produto</title>
{% endblock%}
{%block contentPage%}
<div class="container">
   <div class="row">
    <div class="col-md-4">
      {% if produto.image%}
      <img src="{{ produto.image.url}}">
      {%else%}
      <img src="{% static 'imagens/produtodefault.png' %}">
      {% endif%}
    </div>
    <div class="col-md-8">
      <div>
        <div class="vendas-produtos">
          <p>
            {{produto.totalVendas}} vendidos
          </p>
        </div>
        <div>
          <h2>{{produto.name}}</h2>
        </div>

        <div>
          <h4>R${{produto.preco}}</h4>
        </div>

        <div>
          <p>em até {{produto.maxParc}} vezes de R${{produto.parcelas}}</p>
        </div>


        <div>
          <p>{{produto.description}}</p>
        </div>

        
        <div>
          <p>Vendedor: {{produto.cpfUserPost}}</p>
        </div>
      </div>
   </div>
 </div>
</div>

{% endblock %}
