{%extends 'base.html'%}
{% load static %}
{%block definitionsMeta%}
<title>Easy sale System - Sua venda</title>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico" rel="stylesheet">

{% endblock%}
{%block contentPage%}
    <header class="header-welcome">


        <div class="center-align">
            <h2 class="purple-text text-darken-2 welcome-title"> Faça sua compra com segurança</h2>
            <p class="yellow-text text-darken-1 welcome-description">Compre com nossos parceiros!</p>

        </div>
    </header>

<div class="test">


    <h1>ola</h1></div>


<div style="height:1000px;"></div>{%endblock%}