{%extends 'base.html'%}
{% load static %}
{%block definitionsMeta%}
<title>Easy sale System - Sua venda</title>
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico" rel="stylesheet">

{% endblock%}
{%block contentPage%}
    <header class="header-welcome">



        <div class="center-align">
            <h2 class="purple-text text-darken-2 welcome-title"> Faça sua compra com segurança</h2>
            <p class="yellow-text text-darken-1 welcome-description">Compre com nossos parceiros!</p>

        </div>
    </header>

<div class="test">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div>
  </div>
</div>
  </div>





<div style="height:1000px;"></div>{%endblock%}
