{% extends 'base.html' %}
{% load static %}
{% block definitionsMeta %}
    <title> Produtos - SuaVenda.com</title>
    <link rel="stylesheet" href="{% static 'css/cascade.css' %}">
{% endblock%}



# Tô começando essa página,
# por enquanto, não mecha
# na moral kkkk

{%block contentPage%}
<div class="container">

{% for produto in produtos %}
    <div class="row">
        <div class="col m4">
    <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator imgProduct" src={{ produto.image.url}}>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{ produto.name}}<i class="material-icons right">more_vert</i></span>
      <p><a href="#">Compre aqui</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ produto.name}}<i class="material-icons right">close</i></span>
      <p>{{produto.description}}</p>
    </div>
  </div>
</div>
        </div>
    {% empty %}
    <div class="container">
        <div class="row">
                <div class="box">
                    <div class="notProduts ">
                        <h1>Não existem produtos cadastrados</h1>
                     </div>
                </div>
        </div>


    </div>

{% endfor %}

</div>

{%endblock%}
