{% extends 'base.html' %}
{% load static %}
{% block definitionsMeta %}
    <title> Produtos - SuaVenda.com</title>
    <link rel="stylesheet" href="{% static 'css/cascade.css' %}">
{% endblock%}


{%block contentPage%}

<div class="container content-pag">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="showProdutos " style="display: flex; flex-wrap: wrap">
                {% for produto in produtos %}
                    <div class="flex-item" style="max-width: 18rem;height: 323px;margin: 10px" >
                        <div class="card card text-white bg-primary"    >
                          {% if produto.image %}
                          <img class="card-img-top" src="{{ produto.image.url }}" alt="Card image cap">
                          {% else %}
                              <img class="card-img-top" src="https://img.itdg.com.br/tdg/images/recipes/000/169/692/146782/146782_original.jpg?mode=crop&scale=both&w=320&h=200" alt="Card image cap">
                          {% endif %}
                                      <div class="card-body">
                                        <h5 class="card-title">{{ produto }}</h5>
                                        <p class="card-text">{{ produto.description   }}</p>
                                        <a href="{{ produto.get_absolute_url }}" class="btn btn-success">Ver mais</a>
                                      </div>
                        </div>
                    </div>
                    {% empty %}
                        <div class="box">
                            <div class="notProduts ">
                                <h1>Não existem produtos cadastrados</h1>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>


</div>

{%endblock%}
