{% extends 'base.html' %}
{% load static %}
{% block definitionsMeta %}
    <title> Produtos - SuaVenda.com</title>
    <link rel="stylesheet" href="{% static 'css/cascade.css' %}">
{% endblock%}



# Tô começando essa página,
# por enquanto, não mecha
# na moral kkkk

{%block contentPage%}
<div class="container">
    <div class="showProdutos" style="display: flex; flex-wrap: wrap">
        {% for produto in produtos %}
            <div class="flex-item" style="max-width: 18rem;height: 323px;margin: 10px" >
                <div class="card card text-white bg-primary"    >
                    <img class="card-img-top" src="{{ produto.image.url }}" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">{{ produto.nome }}</h5>
                                <p class="card-text">{{ produto.description   }}</p>
                                <a href="#" class="btn btn-success">Ver mais</a>
                              </div>
                </div>
            </div>
            {% empty %}
                <div class="row">
                        <div class="box">
                            <div class="notProduts ">
                                <h1>Não existem produtos cadastrados</h1>
                             </div>
                        </div>
                </div>
        {% endfor %}
    </div>
</div>

{%endblock%}
