{%extends 'base.html'%}
{%block definitionsMeta%} <title>Faça login</title>{% endblock%}

{%block contentPage%}
<div class="container">
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            <input type="text" placeholder="Nome do usuario" name="" value="">

        </div>
        <div class="textbox">
            <input type="password" placeholder="Senha" name="" value="">
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Logar
            <i class="material-icons right">account_circle</i>
        </button>


    </div>
</div>
<div style="height:2000px;"></div>
{%endblock%}