{% extends 'base.html' %}
{% load static %}

{% block definitionsMeta %}
  <title>Faça login</title>
  <link rel="stylesheet" href="{% static 'css/cascade.css' %}">
{% endblock %}

{% block contentPage%}
<div class="container">
  <div class="row">
    <div class="center-align loginForm" style="margin-top: 50px" >
     <form method="POST">
       <div>
         {% csrf_token %}
              {{ form.non_field_erros }}
            <div>
                {{ form.username.label_tag }}
                 {{ form.username}}
                    {% for error in form.username.errors %}
                      <p class="errosList"> {{ error }} </p>
                    {% endfor %}
            </div>
            <div>
              
              {{ form.password }}
              {% for error in form.password.errors %}
                <p class="errosList"> {{ error }} </p>
              {% endfor %}
            </div>
        </div>
     <button type="submit" class="btn-success btn">Entrar</button>
     </form>
    <a href="{% url 'user:register' %}" class="btn btn-primary"> Clique aqui para registrar-se</a>


    </div>

  </div>

</div>
{% endblock %}
