{% extends 'base.html' %}

{% block contentPage %}
<div class="container">
	<div class="row">
		<div class='col-md-4'>
			<nav class="nav flex-column accounts-menu">
			  <a class="nav-link active btn btn-primary" href="{% url 'user:meus-produtos' %}">Ver meus produtos</a>
			  <a class="nav-link btn btn-primary" href="{% url 'product:cadastrar' %}">Adcionar produto</a>
			  <a class="nav-link btn btn-primary" href="#">Editar conta</a>
			  <a class="nav-link disabled btn btn-danger" href="#">Disabled</a>
			</nav>

		</div>
	</div>
</div>
{% endblock%}