<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Easy sale System - Sua venda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/cascade.css' %}">

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="#!" class="brand-logo">SuaVenda.com</a>

                <ul class="right hide-on-med-and-down">
                    <li><a href=" ">produtos</a></li>
                    <li><a href=" ">promoções</a></li>

                    <li>
                        <form>
                            <div class="input-field">
                              <input id="search" type="search"  placeholder="encontre o que você precisa">
                              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                              <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"> Seu nome<i class="right material-icons">perm_identity</i></a>
                        <ul id="dropdown1" class="dropdown-content contentDropLogin">
                            <li><a href="#!">Seus produtos</a></li>
                            <li><a href="#!">Suas compras</a></li>
                            <li><a href="#!">Suas ofertas</a></li>
                            <li><a href="#!">Configurações</a></li>
                            <li class="divider"></li>
                            <li><a href="#!">Fazer logout</a></li>
                        </ul>



                    </li>
                </ul>
            </div>
        </div>
    </nav>







    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>